{% extends 'base_site.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/medics.css' %}">
{% endblock %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<h1>Leaderboard</h1>

<hr>

<form method="GET">
<div class="input-group">
  <input type="text" name="query" class="form-control"
         placeholder="Search user by username..."
         {% if query %}value="{{ query }}"{% endif %}>
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">Search</button>
  </span>
</div>
</form>
<hr>

{% if not own_player %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  To be listed here, submit your first successful solution!
</div>
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon-stats"></span> Rank</th>
      <th>Avatar</th>
      <th>User</th>
      <th>Points</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    {% for player in page_obj %}
    <tr id="{{ player.user.username }}"
        {% if player == own_player %} class="info" {% endif %}>
      <td>
        {% if player.ranksnapshot %}
          {{ player.ranksnapshot.rank }}
          {% if player.ranksnapshot.delta > 0 %}
            <span style="color: red">+ {{ player.ranksnapshot.delta }}</span>
          {% elif player.ranksnapshot.delta == 0 %}
            <span style="color: grey">± 0</span>
          {% else %}
            <span style="color: green">{{ player.ranksnapshot.delta }}</span>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if player.avatar %}
          <img
            width="25" height="25"
            src="{% static '/img/avatars/' %}{{ player.avatar.name }}.svg">
        {% endif %}
      </td>
      <td>
        {{ player.user.username }}
        {% if player != own_player %}
          | <span><a href="{% url 'medics:add_colleague' player.id %}">Add as colleague</a></span>
        {% endif %}
      </td>
      <td>{{ player.total_points }}</td>
      <td>{{ player.level.index }} - {{ player.level.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p style="color: grey">Note: <span class="glyphicon glyphicon-stats"></span> Today's ranks are updated at midnight.</p>

{% endblock %}
